<!DOCTYPE HTML>
<html lang ="es">
<head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
 <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>Detail</title>
</head>
<body>
	<div class= "container margen_top">
			<div class = "row span12 color">
				<div class="centrar ">
					<div><h3>{{ poll.question }}</h3></div>
						
							{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

						<form action="/polls/{{ poll.id }}/vote/" method="post">
							{% csrf_token %}
							{% for choice in poll.choice_set.all %}
	    					<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	    					<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
							{% endfor %}
							<input class="btn btn-success" type="submit" value="Vote" />
						</form>
				</div>
			</div>
	</div>

</body>
</html>