<!DOCTYPE HTML>
<html lang ="es">
<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}polls/bootstrap/css/bootstrap.css">
 <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<title>Detail</title>
</head>
<body>
	<div class= "container margen_top">
			<div class = "row span12 color">
				<div class="span6">
					<div><h3>{{ poll.question }}</h3></div>
						<div class ="">
								{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
							<form action="/polls/{{ poll.id }}/vote/" method="post">
								{% csrf_token %}
								{% for choice in poll.choice_set.all %}
								<div>
									<div class="span1">
			    						<input type="radio" class="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
			    					</div>
			    					
			    					<div class="offset1">
			    					<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label>
			    					</div>
		    					</div>
								{% endfor %}
								<br>
								<br>
								<input class="btn btn-success" type="submit" value="Vota" />
							</form>
						</div>
				</div>
			</div>
	</div>

</body>
</html>